<?xml version='1.0' encoding='utf-8'?>
<widget id="com.compello.devday" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Compello Dev Day</name>
    <description>
        A Demo application used for Compello Dev Day.
    </description>
    <author email="rashmika.nawaratne@gmail.com" href="rashmika.nawaratne.com">
        Rashmika Blog
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
